.words-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    height: 400px;
    overflow-y: auto;

    padding-top: 5px;
    padding-inline: 10px;
}

@media (max-height: 1000px) {
    .words-list {
        height: 250px;
    }
}