.input-wrapper {
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 400px) {
    .login-form {
        justify-content: center;
        align-items: center;
    }
}